In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon, LineString
import matplotlib
import pandas as pd

In [2]:
emd_area = gpd.GeoDataFrame.from_file('./EMD_202005/EMD.shp', encoding='cp949')
emd_area.head()

,EMD_CD,EMD_ENG_NM,EMD_KOR_NM,geometry
0,11110101,Cheongun-dong,청운동,"POLYGON ((953700.022 1954605.065, 953693.871 1..."
1,11110102,Singyo-dong,신교동,"POLYGON ((953233.465 1953996.984, 953235.183 1..."
2,11110103,Gungjeong-dong,궁정동,"POLYGON ((953560.228 1954257.466, 953561.190 1..."
3,11110104,Hyoja-dong,효자동,"POLYGON ((953519.843 1953890.785, 953518.489 1..."
4,11110105,Changseong-dong,창성동,"POLYGON ((953516.123 1953734.362, 953516.526 1..."

In [3]:
ctprvn_area = gpd.GeoDataFrame.from_file('./CTPRVN_202005/CTPRVN.shp', encoding='cp949')
ctprvn_area.head()

,CTPRVN_CD,CTP_ENG_NM,CTP_KOR_NM,geometry
0,11,Seoul,서울특별시,"POLYGON ((966987.226 1941110.946, 966987.119 1..."
1,26,Busan,부산광역시,"MULTIPOLYGON (((1138209.365 1673609.179, 11381..."
2,27,Daegu,대구광역시,"POLYGON ((1107777.593 1780522.269, 1107845.409..."
3,28,Incheon,인천광역시,"MULTIPOLYGON (((897904.035 1961082.190, 897886..."
4,29,Gwangju,광주광역시,"POLYGON ((932712.687 1696168.692, 932781.680 1..."

In [5]:
sig_area = gpd.GeoDataFrame.from_file('./SIG_202005/SIG.shp', encoding='cp949')
sig_area.head()

,SIG_CD,SIG_ENG_NM,SIG_KOR_NM,geometry
0,11110,Jongno-gu,종로구,"POLYGON ((956615.453 1953567.199, 956621.579 1..."
1,11140,Jung-gu,중구,"POLYGON ((957890.386 1952616.746, 957909.908 1..."
2,11170,Yongsan-gu,용산구,"POLYGON ((953115.761 1950834.084, 953114.206 1..."
3,11200,Seongdong-gu,성동구,"POLYGON ((959681.109 1952649.605, 959842.412 1..."
4,11215,Gwangjin-gu,광진구,"POLYGON ((964825.058 1952633.250, 964875.565 1..."

In [ ]:
df_sheet_name = pd.read_excel('C:/Users/Administrator/Desktop/python/excel/excel_sample.xlsx', sheet_name='sheet2')